h1 Arena Rooms
a(href='/rooms/new') Add Room

ul
  - each room in rooms
    li
      = room.get('name') + " "
      a(href='/rooms/'+room.id) Enter Game
      
h2 Arena Plauers


ul
  - each player in players
    li
      = player.id + " "
      = player.get("name");