h1 Arena Rooms


ul
  - each room in rooms
    li
      = room.id + " "
      a(href='/rooms/'+room.id) Enter Game
      
h2 Arena Plauers


ul
  - each player in players
    li
      = player.id + " "
      = player.get("name");