h1 New Room
form(action='/rooms', method='post')
  p
    label Name
    input(type="text", name='room[name]')
  p
    label Max Players
    input(type="text", name='room[maxPlayers]')
  p
    label Map
    select
      option Playground
      
  p
    input(type="submit")