script(src="/socket.io/socket.io.js")
script  
  var socket = io.connect('http://localhost',{
    query: "sid=#{sid}"
  });
  
  socket.on('connect', function () {
    //socket.emit("room:create", { name: "PlayGround" });
  });
  
  socket.on('error', function (reason){
    console.error('Unable to connect Socket.IO', reason);
  });